<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue email list</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <ul>
            <li v-for="(response,index) in arrowMails" v-if="arrowMails.length >= 10">
                {{arrowMails[index]}}
            </li>
        </ul>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>